#desktop
{
	margin: 20px;
	padding: 5px;
		/**  width: 2000px; **/
		/**  height: 2000px; **/
}

#seed_list
{
	margin-left: 5px;
	/**margin: 10px;
	padding: 5px;***/
}

.history
{
	margin: 5px;
	padding: 5px 10px;
	border: 2px solid blue;
}
#history_div
{
	/*** overflow:scroll; ***/
	/** width:200px; ****/
	/*** height:500px; ***/
	/*** text-align:center; ***/
	margin-top: 10px;
	margin-bottom: 10px;
}

#canvas_div
{
	/**overflow:scroll; 
	//width:200px; 
	//height:500px; 
	//text-align:center;***/
	/**margin-left: 20px;**/
	/**padding: 5px;***/
}

td
{
	text-align: left;
	vertical-align: top;
}

div #clear_fix
{
	clear: both;
}

div .column {
	
	margin-top: 10px;
	margin-right: 20px;
	/** border: 5px dotted red; **/
	float:left;
	/**
	min-width: 10px;
	min-height: 10px;
	**/
}

#canvas
{
	/*position: absolute; 
	left: 10px; 
	top: 10px;*/
}

#scale_div
{
	margin: 0px 10px;
}

#canvas_width_height
{
	font-size: 24px;
	font-family: Arial;
	
}

img
{
	margin: 5px;	
}

.save-canvas-class
{
	
}

.save-canvas-bordered
{
	margin: 3px;	
	border: 2px solid red;
}

.save-canvas-unbordered
{
	margin: 5px;	
	border: 0px solid red;
}



.seed-bordered
{
	margin: 3px;	
	border: 2px solid red;
}

.seed-unbordered
{
	margin: 5px;	
	border: 0px solid red;
}



#buttons_list
{
	
}

input
{
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

progress
{
	position: fixed;
	left: 200px;
	top: 200px;
	z-index: 200;
}