/*
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
	  */

	  #desktop
	  {
		  padding: 5px;
		  width: 2000px;
		  height: 2000px;
	  }
	  
#canvas
{
	/*position: absolute; 
	left: 10px; 
	top: 10px;*/
}

img
{
	margin: 5px;	
}

.save-canvas-class
{
	
}

.save-canvas-bordered
{
	margin: 3px;	
	border: 2px solid red;
}

.save-canvas-unbordered
{
	margin: 5px;	
	border: 0px solid red;
}



.seed-bordered
{
	margin: 3px;	
	border: 2px solid red;
}

.seed-unbordered
{
	margin: 5px;	
	border: 0px solid red;
}


#seed_list
{
	/*position: absolute; 
	left: 1030px; 
	top: 165px;
	z-index: 999;
	*/
}

#buttons_list
{
	/*
	position: absolute; 
	left: 1025px; 
	top: 37px;
	z-index: 999;
	*/
}

input
{
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

progress
{
	position: fixed;
	left:200px;
	top:200px;
	z-index: 1000;
}