<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<!--
<input type="button"  style="margin:25px" id="test_call_server" value=" Call to server and get answer "> 
<canvas id="canvas" width="500" height="500" style="border: 2px solid red;margin:20px"></canvas>
-->
<div id="first" style="margin:25px" ></div>
</body>
</html>
