<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="droppable" style="width: 2000px;height:2000px">
<div id="first" style="margin:25px" ></div>
</div>
</body>
</html>
