
		<div id="seed_list">[seed-list]</div>
		<br><input type="button" id="plus" value=" plus "> 
		<input type="button" id="minus" value=" minus ">
		<input type="button" id="multiply" value=" multiply ">
		<input type="button" id="median" value=" median ">
		<input type="button" id="rotate" value=" rotate "> 
		<input type="button" id="mirror_right" value=" mirror right ">
		<input type="button" id="mirror_down" value=" mirror down ">
		<input type="button" id="fill" value=" fill ">
		<input type="button" id="combo" value=" combo ">
		<input type="button" id="rnd" value=" random ">
		<input type="button" id="inv" value=" inverse "> 
		<input type="button" id="save" value=" save "> 
		<progress id="progress" value="0" max="100" hidden></progress> 
		<!--
		<input type="button" id="save" value=" twit ">
		-->
		<br><br>
		<table><tr>
		<td><canvas id="canvas" width="100" height="100" init-path="[init-path]"></canvas></td>
		<td valign="top"><span id="span_pixels"></span></td>
		</tr></table>
		<br><br><br><br>
		<div id="saves"></div>
