        <div><progress id="progress" value="0" max="100" hidden></progress></div>
		
		<div id='attention'>
		<h1>Now you have a free cool online editor for your own patterns <span id="close_attention" > Close </span></h1>
		</div>
		
		<div id="seed_list"  >[seed-list]</div>
		
		<div id="history_div" class="flex-container" ></div>
		
		<div id="desktop_div" class="flex-container"  >
		
			<div id="canvas_div" class="flex-item">
				<canvas id="canvas" width="100" height="100" init-path="[init-path]"></canvas>
			</div>
			
			<div id="scale_div" class="flex-item draggable" >	
			
				<div><span id="canvas_width_height">300x300</span></div>
					<div>
					
					<input type="button" id="btn_lt" value=" LT ">
					<input type="button" id="btn_rb" value=" RB ">
					<input type="button" id="btn_esc" value=" X ">
					
					</div> 
					
				<div><canvas id="pixels" width="150" height="150" style="cursor:crosshair;border: 1px solid gold;z-index: 990"></canvas></div>
				<div><span id="selected_x_y">0x0</span></div>
			</div>
		
		</div>
		<div class="flex-container"  id="collected_div"></div>
		<div id="saves"></div>
		
		<div class="hint" id="hint0">Press 'h' for help</div>